@media screen and (max-width: 500px) {
  .col-md-1 {
    width: 100%;
  }

  .col-md-2 {
    width: 100%;
  }

  .col-md-3 {
    width: 100%;
  }

  .col-md-4 {
    width: 100%;
  }

  .col-md-5 {
    width: 100%;
  }

  .col-md-6 {
    width: 100%;
  }

  .col-md-7 {
    width: 100%;
  }

  .col-md-8 {
    width: 100%;
  }

  .col-md-9 {
    width: 100%;
  }

  .col-md-10 {
    width: 100%;
  }

  .col-md-11 {
    width: 100%;
  }

  .col-md-12 {
    width: 100%;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1em;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-bottom: 20px;
}

.action-btn {
  float: right;
}

.heading1 {
  font-size: 2em;
}

.heading2 {
  font-size: 1.5em;
}

.heading3 {
  font-size: 1.17em;
}

.heading4 {
  font-size: 1em;
}

.heading5 {
  font-size: .83em;
}

.heading6 {
  font-size: .67em;
}

.full-size {
  width: 100%;
  height: 100%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 15px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

.dropdown-item {
  min-width: 100px;
  display: block;
  width: 100%;
  padding: 8px 20px;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none !important;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: white;
}

.tab-panel {
  display: none
}

.tab-panel.active {
  display: block
}

#id_ad4a4e2d {
  width: auto;
  height: auto;
  min-width: 100px;
  min-height: 300px;
  max-width: auto;
  max-height: auto;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  display: block;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: none;
  clear: none;
  overflow: none;
  font-family: unset;
  font-kerning: normal;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  font-size: 12px;
  line-height: 1;
  text-indent: 0px;
  text-align: left;
  text-decoration: none;
  background-image: unset;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  direction: ltr;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: solid;
  border-color: #cccccc;
  box-shadow: 0px 0px 0px 0px #cccccc;
  text-shadow: 0px 0px 0px #cccccc;
  transition: unset;
  transition-duration: 0;
  transition-timing-function: ease;
  transform: unset;
  opacity: 1;
  cursor: pointer;
  z-index: auto;
  text-transform: lowercase;
  column-count: auto;
}

#id_ad4a4e2d:hover {}

#id_ad4a4e2d:focus {}

#id_8f929d0b {
  width: auto;
  height: auto;
  min-width: 100px;
  min-height: 300px;
  max-width: auto;
  max-height: auto;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  display: block;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: none;
  clear: none;
  overflow: none;
  font-family: unset;
  font-kerning: normal;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  font-size: 12px;
  line-height: 1;
  text-indent: 0px;
  text-align: left;
  text-decoration: none;
  background-image: unset;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  direction: ltr;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: solid;
  border-color: #cccccc;
  box-shadow: 0px 0px 0px 0px #cccccc;
  text-shadow: 0px 0px 0px #cccccc;
  transition: unset;
  transition-duration: 0;
  transition-timing-function: ease;
  transform: unset;
  opacity: 1;
  cursor: pointer;
  z-index: auto;
  text-transform: lowercase;
  column-count: auto;
}

#id_8f929d0b .sub-content {
  min-height: 300px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-color: #cccccc;
}

#id_8f929d0b:hover {}

#id_8f929d0b:hover .sub-content {}

#id_8f929d0b:focus {}

#id_8f929d0b:focus .sub-content {}

#id_787bd5fe {
  width: auto;
  height: auto;
  min-width: 100px;
  min-height: 300px;
  max-width: auto;
  max-height: auto;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  display: block;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: none;
  clear: none;
  overflow: none;
  font-family: unset;
  font-kerning: normal;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  font-size: 12px;
  line-height: 1;
  text-indent: 0px;
  text-align: left;
  text-decoration: none;
  background-image: unset;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  direction: ltr;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: solid;
  border-color: #cccccc;
  box-shadow: 0px 0px 0px 0px #cccccc;
  text-shadow: 0px 0px 0px #cccccc;
  transition: unset;
  transition-duration: 0;
  transition-timing-function: ease;
  transform: unset;
  opacity: 1;
  cursor: pointer;
  z-index: auto;
  text-transform: lowercase;
  column-count: auto;
}

#id_787bd5fe .sub-content {
  min-height: 300px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-color: #cccccc;
}

#id_787bd5fe:hover {}

#id_787bd5fe:hover .sub-content {}

#id_787bd5fe:focus {}

#id_787bd5fe:focus .sub-content {}

.section {
  margin-top: 17px !important;
}

.section:hover {}

.section:focus {}

.col-md-2-2 {
  background-color: #E65C5CFF !important;
  transition: background-color !important;
  transition-duration: 3s !important;
}

.col-md-2-2:hover {
  background-color: #1679E1FF !important;
}

.col-md-2-2:focus {}

.col-md-2-2 {}

.col-md-2-2:hover {}

.col-md-2-2:focus {}